# Data Exploration

In [15]:
import pandas as pd

import os
import sys

module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from afinn import Afinn
from src.load_data import get_data_sem_eval

c:\users\chris\anaconda3\envs\chris-dl\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
words = Afinn()

In [4]:
print(len(words._dict))

3382

In [10]:
sent_140 = pd.read_csv('../data/training.1600000.processed.noemoticon.csv', names=['class', 'id', 'date', 'query', 'user', 'text'], encoding='latin-1')

In [17]:
sem_eval = get_data_sem_eval('../data/full_dataset/')

neutral     22144
positive    19521
negative     7701
Name: class, dtype: int64

In [18]:
sem_eval['text'].str.split().apply(len).value_counts()

21      4124
22      4103
20      4087
19      3793
23      3720
18      3333
24      3151
17      2767
25      2639
16      2487
15      2112
14      1902
26      1890
13      1588
27      1419
12      1340
11      1074
28       856
10       832
9        613
29       401
8        384
30       217
7        216
6        116
31       103
32        32
5         29
33         9
4          6
41         3
38         3
1          2
35         2
36         1
704        1
2          1
34         1
43         1
1118       1
126        1
413        1
39         1
312        1
46         1
905        1
45         1
Name: text, dtype: int64

In [12]:
sent_140['text'].str.split().apply(len).value_counts()

7     89283
8     88847
6     87307
9     87014
10    83542
5     80835
11    80406
12    76013
13    71814
4     67905
14    67854
15    63609
16    60014
17    56220
18    53751
3     52064
19    51778
20    51499
21    48382
22    47695
23    45550
24    42597
25    37359
26    29781
2     25113
27    21201
28    13212
29     7318
1      5978
30     3576
31     1555
32      594
33      215
34       74
35       22
36        8
39        4
37        3
38        2
41        2
58        1
44        1
57        1
64        1
Name: text, dtype: int64